<article class="post">
  <a href="/post/{{id}}">
  <div class="title">
    <p>{{title}}</p>
    <p>Posted by {{user.username}} on {{format_date created_at}}</p>   
  </div>
  </a>
  <div class="meta">
    <span>({{description}})</span>    
  </div>
</article>
